<template id="bericht-template">
    <div style="margin-bottom: 4em; padding-left: 1rem; background: #eee; padding: 1rem">
        <p style="margin: 0; font-size: 1.2em" data-el="date"></p>
        <h3 style="margin: 0">
            <a target="_blank" href="" data-el="title-link"></a>
        </h3>
        <p style="margin-top: 1rem" data-el="description"></p>
        <p>Bron: <a href="" data-el="source-link"></a></p>
        <p style="margin-top: 1rem"><a class="tag unknown-theme">extern</a></p>
    </div>
</template>