<template id="bericht-template">
    <div class="news-card">
        <div class="news-card__meta">
            <span data-el="date"></span> • Bron: <a href="" target="_blank" data-el="source-link"></a>
        </div>
        
        <h3>
            <a target="_blank" href="" data-el="title-link"></a>
        </h3>
        
        <p data-el="description"></p>
        
        <div class="news-card__footer">
            <span class="tag unknown-theme">extern</span>
        </div>
    </div>
</template>