<div class="wrapper">
    <a name="contact"></a>
    <h4>{{ site.title }}</h4>
    <div class="footer-box">
        <div class="footer-box__left">
            <p>KVK <a href="https://www.kvk.nl/bestellen/#/73999393">73999393</a></p>
            <p>Tel: <a href="tel:+31850160418">+31 85 016 04 18</a></p>
            <p>E-mail: <a href="mailto:bestuur@opennederland.nl">bestuur@opennederland.nl</a></p>
            <p>BTW <b>NL859738346B01</b></p>
            <p>Bank <b>NL80 BUNQ 22 0854 3998</b></p>
        </div>
        <div class="footer-box__right">
            <p>LinkedIn: <a href="https://www.linkedin.com/company/open-nederland/">open-nederland</a></p>
            <p>Mastodon: <a href="https://mastodon.nl/@opennl">@opennl@mastodon.nl</a></p>
            <p>Github: <a href="https://github.com/opennederland/www.opennederland.nl">opennederland</a></p>
            <p>Feed: <a href="{{ "/rss/berichten.xml" | relative_url }}">/rss/berichten.xml</a></p>
        </div>
    </div>
    <p><a href="{{ "/privacy" | relative_url }}">Privacybeleid</a></p>
</div>