<div class="wrapper" id="contact">
    <h4>{{ site.title }}</h4>
    <div class="footer-box">
        <div class="footer-box__left">
            <p>Wij zijn verbinders van open</p>
            <p><strong>E-mail:</strong> <a href="mailto:bestuur@opennederland.nl">bestuur@opennederland.nl</a></p>
            <p><strong>Telefoon:</strong> <a href="tel:+31850160418">+31 85 016 04 18</a></p>
        </div>
        <div class="footer-box__right">
            <p>LinkedIn: <a href="https://www.linkedin.com/company/open-nederland/">open-nederland</a></p>
            <p>Mastodon: <a rel="me" href="https://mastodon.nl/@opennl">@opennl@mastodon.nl</a></p>
            <p>Github: <a href="https://github.com/opennederland/www.opennederland.nl">opennederland</a></p>
            <p>Feed: <a href="{{ "/rss/berichten.xml" | relative_url }}">/rss/berichten.xml</a></p>
        </div>
    </div>
    <p><a href="{{ "/privacy" | relative_url }}">Privacybeleid</a></p>
</div>