<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% seo %}

<link rel="icon" href="{{ site.icon | absolute_url }}">
<link rel="image_src" href="{{ site.icon | absolute_url }}">
<link rel="shortcut icon" type="image/png" href="{{ site.icon | absolute_url }}">

{% assign random = site.time | date: "%s%N" %}
<link rel="stylesheet" href="{{ "/assets/css/style.css?forceRefresh=" | append: random | relative_url }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css">
{% include json-ld.html %}