{% if include.tag %}
{% assign initiatives = site.initiatives | where_exp: "initiative", "initiative.tags contains include.tag" | sort: "year" %}
{% else %}
{% assign initiatives = site.initiatives | sort: "year" %}
{% endif %}

{% for initiative in initiatives %}
<div>
    <h3>{{ initiative.title }} ({{ initiative.year }})</h3>

    <p>{% include tags.html tags=initiative.tags %}</p>

    <p>{{ initiative.content | markdownify }}</p>

    <p><a href="{{ initiative.website }}">{{ initiative.website }}</a></p>
</div>
{% endfor %}
