<form method="post" action="https://open-nederland.email-provider.eu/subscribe/post/index.php" accept-charset="utf-8" class="form-9btf4scm1j">
<input type="hidden" name="next" value="{{ site.url }}/bedankt">
<input type="hidden" name="a" value="eonujxyp8a">
<input type="hidden" name="l" value="9btf4scm1j">
<label for="id-9dIU88snCk">E-mailadres&nbsp;*</label><input name="9dIU88snCk" autocomplete="email" id="id-9dIU88snCk" type="email" required>
<label for="id-ZfBWEZv2WX">Voornaam</label><input name="ZfBWEZv2WX" autocomplete="on" id="id-ZfBWEZv2WX" type="text">
<label for="id-Uw8OPZzswi">Achternaam</label><input name="Uw8OPZzswi" autocomplete="on" id="id-Uw8OPZzswi" type="text">
<label for="id-1ScyImy6zR">Tussenvoegsel</label><input name="1ScyImy6zR" autocomplete="on" id="id-1ScyImy6zR" type="text">
<label for="id-k7NiuO59Ny">Pseudoniem</label><input name="k7NiuO59Ny" autocomplete="on" id="id-k7NiuO59Ny" type="text">
<input autocomplete="new-password" type="email" id="email" name="email" placeholder="Your e-mail here" style="position:absolute;top:-9999px;left:-9999px;">
<label><input type="submit" value="Aanmelden"></label>
</form>
<script src="https://open-nederland.email-provider.eu/subscribe/check/validate.js"></script>
<style>
/* these classes can be used to style the form */
.form-9btf4scm1j {}
.form-9btf4scm1j label { display: block; padding: .4em 0 .1em 0; }
.form-9btf4scm1j fieldset { border: 0; }
.form-9btf4scm1j fieldset label { display: inline; padding: 0 0 0 .1em; }
.form-9btf4scm1j input[type=text], .form-9btf4scm1j input[type=email], .form-9btf4scm1j input[type=number] {}
.form-9btf4scm1j input[type=submit] { margin-top: 1em; }
/* client side validation */
.form-9btf4scm1j input:invalid { border: 2px dashed red; }
.form-9btf4scm1j input:invalid:required { border: 2px solid #ccc; }
.form-9btf4scm1j input:valid { border: 2px solid #ccc; }
</style>