
<div class="newsletter-box">

    <h3>Blijf op de hoogte</h3>
    <p>Ontvang updates over Open in Nederland direct in je mailbox.</p>
    
    <form method="post" action="https://open-nederland.email-provider.eu/subscribe/post/index.php" accept-charset="utf-8" class="form-9btf4scm1j">
    <input type="hidden" name="next" value="{{ site.url }}/bedankt">
    <input type="hidden" name="a" value="eonujxyp8a">
    <input type="hidden" name="l" value="9btf4scm1j">
    <label for="id-9dIU88snCk">E-mailadres&nbsp;*</label><input name="9dIU88snCk" autocomplete="email" id="id-9dIU88snCk" type="email" required>
    <label for="id-ZfBWEZv2WX">Voornaam</label><input name="ZfBWEZv2WX" autocomplete="on" id="id-ZfBWEZv2WX" type="text">
    <label for="id-Uw8OPZzswi">Achternaam</label><input name="Uw8OPZzswi" autocomplete="on" id="id-Uw8OPZzswi" type="text">
    <label for="id-1ScyImy6zR">Tussenvoegsel</label><input name="1ScyImy6zR" autocomplete="on" id="id-1ScyImy6zR" type="text">
    <label for="id-k7NiuO59Ny">Pseudoniem</label><input name="k7NiuO59Ny" autocomplete="on" id="id-k7NiuO59Ny" type="text">
    <input autocomplete="off" type="email" id="email" name="email" placeholder="Your e-mail here" tabindex="-1" aria-hidden="true" style="position:absolute;top:-9999px;left:-9999px;">
    <label><input type="submit" value="Aanmelden"></label>
    </form>
    <script src="https://open-nederland.email-provider.eu/subscribe/check/validate.js"></script>
</div>