<div id="rss-feed"></div>

{% include bericht.template.html %}

<script type="module">
  import RSSLoader from "{{ '/assets/js/modules/rssLoader.js' | relative_url }}";
  import RSSRenderer from "{{ '/assets/js/modules/rssRenderer.js' | relative_url }}";

  var rssLoader = new RSSLoader();
  var rssRenderer = new RSSRenderer({{ include.limit | default: 0 }});

  var allItems = [];

  var feeds = await fetch('{{ "json/feeds.json" | relative_url }}')
    .then(response => response.json())
    .then(data => data.feeds);

  feeds.forEach(feed => {
    //console.log(feed);
    loadItemsFromFeed(feed.rss, feed);
  });

  async function loadItemsFromFeed(url, feed) {
    var feedItems = await rssLoader.fetchRssFeed(`https://proxy.apitecture.io/?url=${url}`);
    feedItems = feedItems.map(item => ({ ...item, source: feed.name, url: feed.url }));
    rssRenderer.addItems(feedItems);
  }
</script>