<div id="rss-feed"></div>

{% include bericht.template.html %}

<script type="module">
  import RSSLoader from "{{ '/assets/js/modules/rssLoader.js' | relative_url }}";
  import RSSRenderer from "{{ '/assets/js/modules/rssRenderer.js' | relative_url }}";

  var rssLoader = new RSSLoader();
  var rssRenderer = new RSSRenderer({{ include.limit | default: 0 }});
  
  var rawTags = "{{ include.tags | default: '' }}";
  var filterTags = rawTags ? rawTags.split(',').map(t => t.trim()).filter(t => t) : [];

  var allItems = [];

  var feeds = await fetch('{{ "json/feeds.json" | relative_url }}')
    .then(response => response.json())
    .then(data => {
      // Apply Filter
      if (filterTags.length > 0) {
        return data.feeds.filter(feed => {
          // Ensure feed has tags, then check if ANY of the feed's tags exist in our filter list
          return feed.tags && feed.tags.some(tag => filterTags.includes(tag));
        });
      }
      // If no tags provided, return all feeds
      return data.feeds;
    });

  feeds.forEach(feed => {
    loadItemsFromFeed(feed.rss, feed);
  });

  async function loadItemsFromFeed(url, feed) {
    var feedItems = await rssLoader.fetchRssFeed(`https://proxy.apitecture.io/?url=${url}`);
    feedItems = feedItems.map(item => ({ ...item, source: feed.name, url: feed.url, tags: feed.tags }));
    rssRenderer.addItems(feedItems);
  }
</script>