{% assign personen = "" | split: "" %}

{% if include.tags %}
  {% for tag in include.tags %}
    {% assign matches = site.members | where: "type", "persoon" | where_exp: "p", "p.tags contains tag" %}
    {% assign personen = personen | concat: matches %}
  {% endfor %}
  {% assign personen = personen | uniq | sort: "title" %}
{% elsif include.tag %}
  {% assign personen = site.members | where: "type", "persoon" | where_exp: "p", "p.tags contains include.tag" | sort: "title" %}
  {% assign context_tags = context_tags | push: include.tag %}
{% elsif include.affiliation %}
  {% assign personen = site.members | where: "type", "persoon" | where_exp: "p", "p.affiliations contains include.affiliation" | sort: "title" %}
  {% assign context_tags = context_tags | push: include.tag %}
{% elsif include.working_group %}
  {% assign personen = site.members | where: "type", "persoon" | where_exp: "p", "p.working_groups contains include.working_group" | sort: "title" %}
  {% assign context_tags = context_tags | push: include.tag %}
{% else %}
  {% assign personen = site.members | where: "type", "persoon" | sort: "title" %}
{% endif %}


{% if personen.size > 0 %}
<ul class="people-grid">
{% for persoon in personen %}
    <li>
        <a href="{{ persoon.url | relative_url }}" class="person-card">
            
            <div class="person-header">
                <span class="person-name">{{ persoon.title }}</span>
                <span class="lid-badge">#{{ persoon.lidnummer }}</span>
            </div>

            {% if persoon.tags %}
            <div class="person-tags">
                {% for tag_name in persoon.tags %}
                    <span class="tag {{ tag_name | slugify }}">#{{ tag_name }}</span>
                {% endfor %}
            </div>
            {% endif %}
            
        </a>
    </li>
{% endfor %}
</ul>
{% endif %}