<!DOCTYPE html>
<html lang="nl">
<head>
    {% include head.html %}
</head>
<body>
    <nav>
        {% include nav.html %}
    </nav>

{% if page.url == "/" %}
    <div class="hero-banner">
        <div class="hero-logo-box">
            <img src="{{ "assets/img/ON-logo-2024-transparant.png" | relative_url }}" alt="Vereniging Open Nederland">
        </div>
    </div>
{% endif %}

    <header class="wrapper" style="display: none">
        {% include header.html %}
    </header>

    <main class="wrapper">
        <h1 class="text-center">
            {% if page.icon %}<i class="fa-solid {{ page.icon }} mb-sm" style="display:block; font-size:1.5em; color:var(--col-{{ page.slug }})"></i>{% endif %}{{ page.title }}
        </h1>

        {% if page.tags %}
            <p>{% include tags.html tags=page.tags %}</p>
        {% endif %}
        
        {{ content }}

    </main>

    <footer>
        {% include footer.html %}
    </footer>
    <script>
  const toggleBtn = document.getElementById('theme-toggle');
  
  // 1. Check of gebruiker al eerder een keuze heeft gemaakt
  const currentTheme = localStorage.getItem('theme');
  if (currentTheme) {
    document.body.classList.add(currentTheme);
  }

  // 2. Click event
  toggleBtn.addEventListener('click', () => {
    let theme = '';

    // Logica:
    // Als we al in dark mode zitten (via class OF via systeemvoorkeur) -> ga naar light
    // Anders -> ga naar dark
    
    const systemDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    const hasDarkClass = document.body.classList.contains('dark-mode');
    const hasLightClass = document.body.classList.contains('light-mode');

    if (hasDarkClass || (systemDark && !hasLightClass)) {
      // We zijn donker, dus switch naar licht
      document.body.classList.remove('dark-mode');
      document.body.classList.add('light-mode');
      theme = 'light-mode';
    } else {
      // We zijn licht, dus switch naar donker
      document.body.classList.remove('light-mode');
      document.body.classList.add('dark-mode');
      theme = 'dark-mode';
    }

    // Voorkeur opslaan
    localStorage.setItem('theme', theme);
  });
</script>
</body>
</html>