---
layout: default
---

<div class="mb-md">
    <span class="page-meta-header">
        {{ page.year }}
    </span>
    {% if page.wikidata %}
        <a href="https://www.wikidata.org/wiki/{{ page.wikidata }}" target="_blank" class="wikidata-badge">
            Wikidata: <strong>{{ page.wikidata }}</strong>
        </a>
    {% endif %}
</div>

<div id="inhoud" class="content-body">
    <div class="mb-md">
        {{ content }}
    </div>

    {% if page.website %}
    <div id="bron" class="connection-box source-box">
        <a href="{{ page.website }}" target="_blank" class="main-item">Naar officiële website ↗</a>
    </div>
    {% endif %}
</div>

<hr />

{% capture initiatives_output %}
    {% include initiatives.html tags=page.tags %}
{% endcapture %}

{% assign initiatives_check = initiatives_output | strip %}

{% if initiatives_check != "" %}
    <div class="mb-xl">
        <h2 id="initiatives">Aanverwante manifesten, verklaringen en aanbevelingen</h2>
        {{ initiatives_output }}
    </div>
{% endif %}