---
layout: default
---
<p>{{ page.title }} is {% if page.type == "organisatie" %}als organisatie{% else %}op persoonlijke titel{% endif %} lid van Vereniging Open Nederland.</p>

<blockquote>{{ content }}</blockquote>

{% if page.website %}
<p><a target="_blank" href="{{ page.website }}">{{ page.website }}</a> ↗</p>
{% endif %}
{% if page.organisaties %}
<p>{{ page.title }} is onder andere betrokken bij:</p>
<ul>
{% for org in page.organisaties %}
    {% assign member = site.members | where: "title", org | first %}
    {% if member %}
    <li><a href="{{ member.url | relative_url }}">{{ member.title }}</a></li>
    {% else %}
    <li>{{ org }}</li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}

{% if page.rss %}
    <div id="rss-feed">
        <h3>Feed van dit lid <a href="{{ page.rss }}"><img src="/assets/img/RSS-feed.png" alt="RSS Feed" style="height: 1em; padding-bottom: 4px" /></a></h3>
        <ul id="rss-feed-items"></ul>
        <template id="template-rss-feed-item">
            <li>
                <a data-el="title-link" target="_blank"></a>
                <p data-el="description"></p>
            </li>
        </template>
    </div>
    <script type="module">
        import RSSLoader from "{{ '/assets/js/modules/rssLoader.js' | relative_url }}";
        var rssLoader = new RSSLoader();
        var items = await rssLoader.fetchRssFeed("https://proxy.apitecture.io/?url={{ page.rss }}");
        items.sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate));
        var template = document.querySelector("#template-rss-feed-item");
        items.forEach(item => {
            var clone = template.content.cloneNode(true);
            clone.querySelector("[data-el=title-link]").href = item.link;
            clone.querySelector("[data-el=title-link]").textContent = item.title;
            clone.querySelector("[data-el=description]").textContent = item.description;
            document.querySelector("#rss-feed-items").appendChild(clone);
        });
    </script>
{% endif %}