---
layout: default
---
<p>{{ page.title }} is {% if page.type == "organisatie" %}als organisatie{% else %}op persoonlijke titel{% endif %} lid van Vereniging Open Nederland.</p>

<blockquote>{{ content }}</blockquote>

<p><a target="_blank" href="{{ page.website }}">{{ page.website }}</a> ↗</p>

{% if page.organisaties %}
<p>{{ page.title }} is onder andere betrokken bij:</p>
<ul>
{% for org in page.organisaties %}
    {% assign member = site.members | where: "title", org | first %}
    {% if member %}
    <li><a href="{{ member.url | relative_url }}">{{ member.title }}</a></li>
    {% else %}
    <li>{{ org }}</li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}

{% if page.rss %}
    <div id="rss-feed">
    </div>
    <script src="{{ '/load_rss.js' | relative_url }}"></script>
    <script>
    document.documentElement.dataset.rssFeed = "{{ page.rss }}"; 
    </script>
{% endif %}

<hr style="margin-top: 80px">
<center style="max-width: 640px; margin: 3em auto">
    {% include tags-list.html %}
</center>
